<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chatContent</key>
	<array>
		<dict>
			<key>owner</key>
			<integer>1</integer>
			<key>voice</key>
			<string></string>
			<key>content</key>
			<string>你好这是历史记录消息，会读取MessageTest中的数据并显示</string>
			<key>icon</key>
			<string>http://a.hiphotos.baidu.com/zhidao/wh%3D600%2C800/sign=5bda8a18a71ea8d38a777c02a73a1c76/5882b2b7d0a20cf4598dc37c77094b36acaf9977.jpg</string>
			<key>time</key>
			<string>2015年10月12日 14:35</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>owner</key>
			<integer>0</integer>
			<key>voice</key>
			<string></string>
			<key>content</key>
			<string>确认了</string>
			<key>icon</key>
			<string>http://p3.music.126.net/36br0Mrxoa38WFBTfqiu3g==/7834020348630828.jpg</string>
			<key>time</key>
			<string>2015年10月12日 14:35</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
